// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$colors: (
  primary:    #1AA494,
  secondary:  #12A663,
  danger:     #f53d3d,
  light:      #CCC5B7,
  dark:       #404040,
  accent:     #ED6B1C
);

   $light:      #ffffff;
   $medium:     #eaeaea;
   $grey:       #808080;
   $dark:       #000000;
   $accent:     #387ef5;
   
   $item-md-detail-push-show: true;
   $item-wp-detail-push-show: true;

    .toolbar-background {
        background-color: $dark;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2.1rem;
        font-weight: 600;
        color: $medium;
    }
    .navbar-font{
        color: $light;
    }
    .tabs-md .tab-button {
        background-color:$dark;
        font-size: 2em;
    }
    .tabs-md .tab-button{
        color:$light;
    }
    .tabs-md .tab-button[aria-selected=true]{
        color:$accent;
    }
    .tabs-md .tab-button .tab-button-icon {
        color:$light;
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color:$accent;
    }